<div class="container mt-5">
    <a type="button" class="btn btn-primary btn-lg" href="/category/add">Add New Category</a>
    <h1>List category</h1>

    <table class="table table-dark table-hover">
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
            <% 
                categories.map(category=>{%>
                    <tr>
                    <td><%= category.name %></td>
                    <td><a href="/"  class="btn btn-warning">Edit</a></td>
                    <td> <%- include('../part/deleteForm',{url:`/category/${category._id}?_method=DELETE`}) %></a></td>
                </tr>
                <%})
            %>
            
    </table>
</div>